.more_header {
	margin-top: 50px;
	margin-bottom: 30px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.more_header-left h1 {
	margin-left: 20px;
	font-weight: bold;
	font-size: 30px;
}

.more_header-right {
	margin-right: 20px;
}

.more_header-right i {
	margin-right: 7px;
}

@keyframes rotateCog {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.more_header-right .fa-cog:hover {
	animation: rotateCog 1s ease-in-out infinite;
}

.more_profile {
	display: flex;
	width: 100vw;
	align-items: center;
	padding-left: 20px;
	padding-bottom: 15px;
}

.more_profile img {
	width: 70px;
	height: 70px;
	border-radius: 30px;
}

.more_profile h1 {
	padding-left: 20px;
	font-weight: bold;
	font-size: 30px;
}

.more_profile h3 {
	padding-left: 20px;
	padding-top: 10px;
	font-size: 20px;
}

.more_profile-edit {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
}
.more_profile i {
	font-size: 30px;
}

.icons {
	display: flex;
	margin-top: 60px;
	align-items: center;
	justify-content: space-around;
}

.icons i {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.icons h1 {
	font-weight: bold;
	margin-top: 10px;
}
